@import url(/style.css);

.alert-primary {
    --bs-alert-color: rgb(30, 130, 32) !important;
    --bs-alert-bg: rgb(241 241 241) !important;
    --bs-alert-border-color: var(--color-primary);
}

.heading-title {
    font-size: 1.8rem;
    font-weight: 600;
    font-family: "Noto serif";
}

.alert {
    --bs-alert-padding-x: 0.5rem;
    --bs-alert-padding-y: 0.5rem;
}
.container{
    font-size: 1.05rem;
}
